.section {
    padding-top: 30px;
    padding-bottom: 30px;
}   

.authorsTitle {
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 600;
    font-size: 2rem;
}



.authorsList {
    display: flex;
    flex-wrap: wrap;
    width: 346px;
    padding: 0;
    justify-content: center;
    gap: 16px;
    align-items: center;
    padding: 0;
    margin: 0;

}

.authorsItem {
    width: 162px;
    padding-left: 8px;
    padding-right: 8px;
    
}

.img {
    width: 148px;
    height: 148px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.name {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: black;
}

    .authorsButton {
        margin-top: 30px;
        background-color: rgb(12, 83, 12);
        color: #FFFFFF;
        border-radius: 64px;
        padding: 16px;
        width: 361px;
        height: 57px;
        font-weight: 700;
        font-size: 18px;
        
    }



@media screen and (min-width: 704px) {
    .authorsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 680px;
        gap: 24px;
        
    
}

    .authorsItem {
        width: 286px;
        padding: 12px;
}

.img {
    width: 262px;
    height: 262px;
}

.name {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: black;
}

    .authorsButton {
        margin-top: 30px;
        color: #FFFFFF;
        border-radius: 64px;
        padding: 16px;
        width: 340px;
        height: 57px;
        font-weight: 700;
        font-size: 18px;
        outline: none;
        
    }

}

@media screen and (min-width: 1250px) {
    .authorsList {
        display: flex;
        flex-wrap: wrap;
        width: 1222px;
        gap: 24px;
        justify-content: center;
    
}

    .authorsItem {
        width: 286px;
    }


    .authorsButton {
        width: 390px;
        height: 57px;
    }

    .img {
        width: 262px;
        height: 262px;
    }

    .name {
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: black;
}

    .authorsButton {
        margin-top: 30px;
        color: #FFFFFF;
        border-radius: 64px;
        padding: 16px;
        width: 390px;
        height: 57px;
        outline: none;
        font-weight: 700;
        font-size: 18px;
        
    }

}

