/* .info {
  display: flex;
  align-items: center;
  margin: 48px 0 72px 0;
  justify-content: space-between;
} */

.info > div {
  background-image: url('../../images/sec1img.png');
  background-repeat: no-repeat;
  background-position: right;
  padding: 48px 0 245px 0;
}

.info__title {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 92px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #649179;
  margin-top: 0;
  text-align: left;
}

.info__wrapper {
  width: 599px;
  height: 389px;
}

.info__btns {
  width: 392px;
  height: 57px;
  margin-top: 56px;
  display: flex;
  gap: 24px;
}

.info__btns--btn1 {
  border-radius: 64px;
  padding: 16px;
  width: 184px;
  height: 57px;
  background: #649179;
  border: none;

  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #f7fffb;
}

.info__btns--btn2 {
  border: 1px solid #374f42;
  border-radius: 64px;
  padding: 16px;
  width: 184px;
  height: 57px;

  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #374f42;
}

.info__div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* .info__img {
  height: auto;
  display: block;
} */

/* .about {
  margin: 0 0 72px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
} */

.about > div {
  padding-bottom: 72px;
}
.about__div {
  display: flex;
  gap: 24px;
  flex-direction: column;
  /* margin: 0 0 72px 0; */
}
.about__info {
  border-radius: 32px;
  width: 496px;
  /* height: 326px; */
  background: #d1e0d8;
  padding: 32px 32px 57px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left;
}

.about__info--title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #070721;
  margin: 0;
}

.about__info--descr {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #070721;
  margin: 0;
}
.about__firstWrapper {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.about__secondWrapper {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.popular {
  margin: 0 0 72px 0;
}
.popular__title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin: 0;
}

.popular__link--text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #374f42;
  margin: 0;
}

.popular__link {
  border-radius: 8px;
  padding: 0px 0px 4px;
  height: 28px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.popular__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular__a {
  text-decoration: none;
  color: #374f42;
}

.popular__authorsList > div:nth-child(n + 4) {
  display: none !important;
}

.popular__authorsList {
  display: flex;
  flex-wrap: wrap;
  max-height: 440px;
  overflow: hidden;
}

.top {
  margin: 0 0 72px 0;
}
.top__title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin: 0;
}
.top__link--text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #374f42;
  margin: 0;
}

.top__link {
  border-radius: 8px;
  padding: 0px 0px 4px;
  height: 28px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.top__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}
.top__a {
  text-decoration: none;
  color: #374f42;
}

.top__authorsList ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.top__authorsList {
  overflow: hidden;
}

.top__authorsList ul > li > img {
  width: 160px;
  height: 160px;
}

.top__authorsList ul > li {
  padding: 12px;
  max-width: 184px;

}

.top__authorsList ul > li:nth-child(n + 7) {
  display: none;
}

.top__authorsList ul > li > p {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #070721;
  margin-top: 16px;
}

.top__authorsList ul {
  gap: 0;
}



.popular__authorsList {
  justify-content: center;
}
.popular__authorsList > div {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}



.popular__authorsList > div > div:nth-child(n + 4) {
  display: none;
}

.popular__authorsList > div > div {
  width: 392px;

}

.popular__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
