.info {
  padding-top: 22px;
}

.background {
  background-image: url('../../images/sec1img.png');
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: right; */
  /* padding: 48px 0 245px 0; */
  width: 100%;
  height: auto;
  display: block;
  height: 285px;
}
@media (min-width: 768px) {
  .background {
    background-image: url(../../images/tabletsection.png);
    /* background-image: none; */
    /* display: none; */
    order: 2;
  }
  .info__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (min-width: 1440px) {
  .background {
    display: none;
  }
  .info__div {
    background-image: url(../../images/sec1img.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: flex-start;
    min-height: 600px; 
  }

  .info {
    padding-top: 48px;
  }
}

.info__title {
  font-family: 'Manrope', sans-serif;
  /* font-weight: 800;
  font-size: 92px; */
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #649179;
  /* margin-top: 0; */
  text-align: left;

  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 1440px) {
  .info__title {
    font-weight: 800;
    font-size: 92px;
    width: 600px;
  }
}

/* .info__wrapper {
  width: 599px;
  height: 260px;
  order: 1;
} */
@media (min-width: 768px) {
  .info_wrapper {
    content: url('../../images/sec1img.png');
  }
}
.info__btns {
  width: 392px;
  /* height: 57px; */
  /* margin-top: 56px; */
  margin-top: 30px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .info__btns {
    margin-top: 67px;
  }
}
@media (min-width: 1440px) {
  .info__btns {
    height: none;
    flex-direction: row;
  }
}

.info__btns--btn1 {
  border-radius: 64px;
  padding: 16px;
  width: 361px;
  height: 57px;
  background: #649179;
  border: none;

  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #f7fffb;
}

@media (min-width: 768px) {
  .info__btns--btn2 {
    border-radius: 64px;
    padding: 16px;
    width: 249px !important;
    height: 57px;
  }
}
@media (min-width: 768px) {
  .info__btns--btn1 {
    border-radius: 64px;
    padding: 16px;
    width: 249px;
    height: 57px;
  }
}

.info__btns--btn2 {
  border: 1px solid #374f42;
  border-radius: 64px;
  padding: 16px;
  width: 361px;
  height: 57px;

  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #374f42;
}

.span {
  font-family: 'Merienda', sans-serif;
}

/* .info__div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} */

/* .info__img {
  height: auto;
  display: block;
} */

/* .about {
  margin: 0 0 72px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
} */

.about > div {
  padding-bottom: 72px;
}
.about__div {
  display: flex;
  gap: 24px;
  flex-direction: column;
  /* margin: 0 0 72px 0; */
}
.about__info {
  border-radius: 32px;
  background: #d1e0d8;
  padding: 32px 32px 57px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left;

  width: 361px;
  height: 365px;
  margin-top: 72px;
}
@media (min-width: 768px) {
  .about__info {
    padding: 32px;
    width: 431px;
    height: 326px;

    margin: 0;
  }
}
@media (min-width: 1440px) {
  .about__info {
    width: 496px;
    height: 326px;
  }
}

.about__info--title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #070721;
  margin: 0;
}

.about__flower {
  border-radius: 32px;
  width: 361px;
  height: 365px;
  /* background-size: auto; */
}
@media (min-width: 768px) {
  .about__flower {
    content: url(../../images/flowerTablet.png);
    width: 249px;
    height: 326px;
  }
}
@media (min-width: 1440px) {
  .about__flower {
    content: url(../../images/flower.png);
    width: 704px;
    height: 326px;
  }
}

.about__family {
  width: 375px;
  height: 365px;
}
@media (min-width: 768px) {
  .about__family {
    content: url(../../images/familyTablet.png);
    width: 704px;
    height: 398px;
  }
}
@media (min-width: 1440px) {
  .about__family {
    content: url(../../images/fam.png);
    width: 808px;
    height: 398px;
  }
}

.about__person {
  display: none;
}
@media (min-width: 1440px) {
  .about__person {
    display: flex;
    width: 392px;
    height: 398px;
  }
}

.about__info--descr {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #070721;
  margin: 0;
}
.about__firstWrapper {
  display: flex;
  gap: 24px;
  flex-direction: column;
  min-width: 361px;
  min-height: 365px;
  /* justify-content: space-between; */
}
@media (min-width: 768px) {
  .about__firstWrapper {
    flex-direction: row;
    align-items: flex-end;
  }
}
.about__secondWrapper {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .about__secondWrapper {
    flex-direction: row;
  }
}

.popular {
  margin: 0 0 72px 0;
}
.popular__title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin: 0;
  text-align: left;
}

.popular__link--text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #374f42;
  margin: 0;
}

.popular__link {
  border-radius: 8px;
  padding: 0px 0px 4px;
  height: 28px;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .popular__link {
    margin-top: 0;
  }
}

.popular__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-between; */
}
@media (min-width: 768px) {
  .popular__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}
.popular__a {
  text-decoration: none;
  color: #374f42;
}

/* 
@media (min-width: 768px) {
  .popular__authorsList > div > div {
    width: 340px;
  }
} */

.popular__authorsList > div:nth-child(n + 5) {
  display: none;
}
@media (min-width: 768px) {
  .popular__authorsList > div:nth-child(n + 4) {
    display: none;
  }
}

.popular__authorsList {
  display: flex;
  flex-wrap: wrap;
  /* max-height: 440px; */
  /* overflow: hidden; */
  /* overflow-x: auto; */
}

.about {
  padding-top: 72px;
}

.top {
  margin: 0 0 72px 0;
}
.top__title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin: 0;
}

.top__link--text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #374f42;
  margin: 0;
}

.top__link {
  border-radius: 8px;
  padding: 0px 0px 4px;
  height: 28px;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .top__link {
    margin: 0;
  }
}

.top__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: space-between;
  padding-bottom: 16px; */
}
@media (min-width: 768px) {
  .top__wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px;
  }
}

.top__a {
  text-decoration: none;
  color: #374f42;
}

.top__authorsList ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.top__authorsList {
  overflow: hidden;
}

.top__authorsList ul > li > img {
  width: 160px;
  height: 160px;
}

.top__authorsList ul > li {
  margin-top: 16px;
  padding: 12px;
  max-width: 184px;
}

.top__authorsList ul > li:nth-child(n + 7) {
  display: none;
}

.top__authorsList ul > li > p {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #070721;
  margin-top: 16px;
}

.top__authorsList ul {
  gap: 0;
}

.popular__authorsList {
  justify-content: center;
}
.popular__authorsList > div {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.popular__authorsList > div > div:nth-child(n + 4) {
  display: none;
}

.popular__authorsList > div > div {
  width: 392px;
}

.popular__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
