.profile {
  padding-top: 46px;
  padding-bottom: 46px;
}
.profile__title {
  font-family: 'Manrope', sans-serif;
  display: flex;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
}

.profile__header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.profile__avatar {
  width: 137px;
  height: 137px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__info {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.profile__name {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}

.profile__stats {
  color: black;
  font-size: 0.9rem;
  font-family: 'Manrope', sans-serif;
}


.profile__tabs {
  display: flex;
  gap: 38px;
  margin-bottom: 40px;
}

.profile__tab {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.profile__tab--active {
  font-weight: 700;
  font-size: 16px;
  color: #374f42;
  border-color: #111;
}


.profile__articles {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.article-card {
  width: 392px;
  height: 492px;
  border-radius: 32px;
  padding: 12px;
  background-color: #d1e0d8;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid #cfdacf;
}

.article-card__image {
  width: 368px;
  height: 233px;
  object-fit: cover;
  border-radius: 24px;
  margin-bottom: 12px;
}

.article-card__content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.article-card__author {
  --font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #070721;
}

.article-card__title {
  --font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #070721;
}

.article-card__text {
  --font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #070721;
}

.article-card__button {
  border-radius: 64px;
  padding: 8px;
  width: 320px;
  height: 40px;
  background-color: #e4ece5;
  border: 1px solid #374f42;
  cursor: pointer;
  margin-top: 12px;
}

.article-card__icon {
  margin-left: 6px;
  fill: none;
  stroke: #1b1b1b;
  stroke-width: 1.5;
}

.article-card__buttons {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-top: 12px;
}

.article-card__small-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #374f42;
  background-color: #e4ece5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.article-card__small-button svg {
  stroke: #1b1b1b;
  fill: none;
  stroke-width: 1.5;
}

.article-card__small-button:hover {
  background-color: #d1e0d8;
}

.profile__load-more {
  text-align: center;
  margin-top: 40px;
}

.profile__load-button {
  border-radius: 64px;
  background-color: #649179;
  padding: 16px;
  width: 289px;
  height: 57px;
  cursor: pointer;
  color: white;
}

@media (max-width: 600px) {
  .profile__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile__avatar {
    width: 70px;
    height: 70px;
  }

  .profile__articles {
    grid-template-columns: 1fr;
  }
}
