.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #D1E0D8;
    font-family: Manrope;
}




.link {
    color: #374F42;
    font-weight: 700;
    font-size: 12px;
}

@media screen and (max-width: 361px) {
    .headerContainer {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin: 0 auto; 
        padding: 0 20px;
        flex-direction: row; 
}
    .icon {
        display: inherit;

    }
    .list {
        display: none;
    }

    .button {
        display: none;
    }



    .link {
        display: none;
    }
}


@media screen and (min-width: 361px) {
    .headerContainer {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin: 0 auto; 
        padding: 0 20px;
        flex-direction: row; 
}
    .icon {
        display: inherit;
    }
    .list {
        display: none;
    }

    .button {
        display: none;
    }

    .link {
        font-weight: 700;
        font-size: 12px;
        color: rgb(1, 30, 1);
    }
}

@media screen and (min-width: 704px) {
    .icon {
        display: none;
    }
    .list {
        gap: 32px;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 32px;
    }

    .headerContainer {
        display: flex;
        justify-content: center; 
        align-items: center;
        margin: 0 auto; 
        padding: 0 20px;
        flex-direction: row; 
}

    .button {
        border: none;
        border-radius: 64px;
        padding: 10px 16px;
        width: 100px;
        height: 50px;
        font-size: 16px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #649179;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 32px;
    }
}

@media screen and (min-width: 1250px) {
    .list {
        gap: 32px;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .link {
        font-size: 14px;
    }

    .button {
        border: none;
        border-radius: 64px;
        padding: 10px 16px;
        width: 100px;
        height: 50px;
        font-size: 16px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #649179;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    .headerContainer {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin: 0 auto; 
        padding: 0 20px;
        flex-direction: row; 
}
}

.link:hover {
    color: #649179;
}