.createArticle {
  background: var(--White, #f7fffb);
  padding-top: 48px;
  padding-bottom: 48px;
}

.oneContainer {
  display: flex;
}

.createArticle__treeContainer {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  @media screen and (min-width: 704px) {
   width: 50px;
   margin-bottom: 250px;
  }
  @media screen and (min-width: 1250px) {
  }
}

.createArticle__maineTitle {
  color: var(--Black, #070721);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: start;
  margin-bottom: 8px;
}

.createArticle__title {
  color: var(--Black, #070721);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: start;
  margin-bottom: 8px;
}

.createArticle__mincontainer {
  border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
  border: 1px solid var(--Light-Gray, #9f9f9f);
  width: 300px;
  height: 90px;
  margin-bottom: 32px;
  display: flex;
  justify-content: start;
  @media screen and (min-width: 1250px) {
   width: 809px;
    height: 48px;
  }
}

.createArticle__text {
  color: var(--Black, #070721);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  @media screen and (min-width: 704px) {
   padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  }
  @media screen and (min-width: 1250px) {
    padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  }
}

.createArticle__twoContainer {
  border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
  border: 1px solid var(--Light-Gray, #9f9f9f);
  width: 300px;
  margin-top: -200px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  margin-bottom: 32px;
  @media screen and (min-width: 704px) {
   width: 550px;
  }
  @media screen and (min-width: 1250px) {
   width: 809px;
  }
}

.createArticle__bigText {
  color: var(--Black, #070721);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.createArticle__button {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: var(--gap-3, 12px);
  align-self: stretch;
  border-radius: 64px;
  background: var(--Green, #649179);
  color: var(--White, #f7fffb);
  border: none;
  width: 300px;

  /* body/md/SemiBold */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
    @media screen and (min-width: 704px) {
   width: 550px;
   
  }
  @media screen and (min-width: 1250px) {
   width: 800px;

  }
}

.createArticle__img {
  width: 360px;
  height: 285px;
  border-radius: 24px;
  margin-bottom: 250px;
  @media screen and (min-width: 704px) {
   height: 268px;
   margin-bottom: 0px;
  }
  @media screen and (min-width: 1250px) {
    height: 280px;
    margin-bottom: 0px;
  }
}
