.ArticlePage{
    margin-top: 48px;
}

.ArticleTitle{
    text-align: left;
    color: #000;
font-family: Manrope;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}

.ArticleAmount{
    display: flex;
height: 33px;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}

.ArticlesGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
     @media (max-width: 1250px) {
    gap: 15px;
    justify-content: center;
  }
}

.ArticleSelect{
    display: flex;
width: 169px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #9F9F9F;
color: #595D62;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 155%;
}

.ArticleBoxes{
    display: flex;
width: 1225px;
height: 33px;
justify-content: space-between;
align-items: center;
 @media (max-width: 1250px) {
    width: 690px;
  }
   @media (max-width: 704px) {
    width: 360px;
    margin-bottom: 15px;
  }
}

.ArticleList{
    display: flex;
width: 392px;
height: 492px;
padding: 12px;
flex-direction: column;
align-items: flex-start;
border-radius: 32px;
background:  #D1E0D8;

   @media (max-width: 1250px) {
    width: 332px;
  }

   @media (max-width: 704px) {
    width: 360px;
  }
}

.ArticleImage{
  height: 233px;
flex-shrink: 0;
align-self: stretch;
border-radius: 24px;
margin-bottom: 30px;
}

.ArticleBox{
    display: flex;
    flex-direction: row;
}

.ArticleText{
overflow: hidden;
color: #070721;
text-overflow: ellipsis;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;

   @media (max-width: 704px) {
    font-size: 22px;
  }
}

.ArticleName{
    overflow: hidden;
color: #070721;
text-overflow: ellipsis;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;

   @media (max-width: 704px) {
    font-size: 14px;
  }
}

.ArticleDesc{
    overflow: hidden;
color: #070721;
text-overflow: ellipsis;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 155%;
margin-bottom: 30px;

   @media (max-width: 704px) {
    font-size: 14px;
  }
}

.ArticleButton{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 304px;
  height: 64px;
  border-radius: 64px;
  border: 1px solid #BFD6C8;
  background: linear-gradient( #D1E0D8 0%, #C2D5CA 100%);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: black ;
   transition: all 0.25s ease-in;
     @media (max-width: 1250px) {
    width: 250px;
  }
@media (max-width: 704px) {
    width: 275px;
  }
}
.ArticleButton:hover {
  transform: translate(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.ArticleButton:active {
  transform: translateY(0);
  background: #B6CFC0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.ArticleButton:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(52, 172, 199, 0.3);
}



.ArticleButtonText{
    color: #374F42;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
   @media (max-width: 704px) {
    font-size: 14px;
  }
}

.ArticleSave{
    display: flex;
padding: 8px;
justify-content: center;
align-items: center;
}

.ArticleSaveButton{
    display: flex;
justify-content: center;
align-items: center;
align-self: stretch;
border-radius: 64px;
border: 1px solid;
 border: 1px solid #BFD6C8;
  background: linear-gradient( #D1E0D8 0%, #C2D5CA 100%);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: black ;
   transition: all 0.25s ease-in;
}
.ArticleSaveButton:hover {
  transform: translate(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.ArticleSaveButton:active {
  transform: translateY(0);
  background: #B6CFC0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.ArticleSaveButton:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(52, 172, 199, 0.3);
}

.ArticleButtonList{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.ArticlePagination{
display: flex;
justify-content: center;
align-items: center;
}

.ArticlePaginationButton{
display: flex;
width: 390px;
padding: 16px;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 64px;
background: #649179;
border: none;
margin-top: 24px;
margin-bottom: 48px;
transition: all 0.25s ease-in;
 transform: translate(0px);
}

.ArticlePaginationButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(23, 22, 22, 0.15);
}

.ArticlePaginationButton:active {
  transform: translateY(2px);
  background: #13b654;
  box-shadow: 0 2px 6px rgba(46, 43, 43, 0.1);
  transition: all 0.25s ease-out;
}

.ArticlePaginationButton:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(4, 233, 65, 0.3);
}

.ArticlePaginationText{
    color: #F7FFFB;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
   @media (max-width: 704px) {
    font-size: 16px;
  }
}

.IconActive{
    display: flex;
padding: 8px;
justify-content: center;
align-items: center;

}

